body {
	padding: 40px;
	margin: 0;
}

#zoom-box {
	width: 700px;
	height: 400px;
	overflow: hidden;
	background: #ececec url('../assets/bondi-beach.jpg') no-repeat 50% 50%;
	background-size: cover;
	cursor: pointer;
	position: relative;
}
#zoom-box img.zb-full {
	display: none;
	position: absolute;
}
#zoom-box.zb-zoom-on img.zb-full {
	display: block;
}
